div.cell {
    border: 0.01px solid white;
    min-width: 0.25rem;
    min-height: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    max-width: 1rem;
    max-height: 1rem;
}

div.row {
    display: flex;
}

.test {
    background-color: white;
}