h2{
    font-size: 3rem;
    padding-top: 1rem;
}

span{
    font-weight: bold;
}

a{
    text-decoration: underline;
}

/* .textBlockWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
} */

.textBlockText {
    max-width: 61.8%;
    margin-bottom: 1rem;
}