/* -=-=-=-=-=- Styling for game tiles -=-=-=-=-=- */
.row {
  display: flex;
}
.cell {
  border: 1px solid white;
  padding: 2.5vh;
  margin: 0px;
}
.cellOn {
  background-color: white;
}
.cellFood {
  background-color: #d90504;
}
/* -=-=-=-=-=- Styling for game tiles -=-=-=-=-=- */

/*General Styling*/
#snakeBoard{
  margin: 0vw;
  padding: 0vw;
  flex-grow: 0;
}
#ui{
  margin: 0vw 1vw 0vw 0vw;
  padding: 0vw;
  flex-grow: 1;
}
.score{
  flex-grow: 1;
  margin: 1vw 0vw;
  padding: 1.2vw 2vw 0.8vw 2vw;
  border: 2px solid white;
  border-radius: 0px;
  text-align: center;
}
#restart {
  margin: 1vw 0vw;
  padding: 1vw 2vw;
  flex-grow: 1;
  font-size: 2vw;
}
.difficulty{
  flex: 1 1 0px;
  font-size: 1vw;
  margin: 0vw 1vw 0vw 0vw;
  padding: 0.3vw 0vw;
}
.last {
  margin: 0vw 0vw 0vw 0vw;
}