/* BASIC ELEMENTS */
* {
    font-family: din-2014, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
body {
    color: white;
    background-color: #0C0C0C;

    margin: 1em;
    padding: 0;
}

h1 {
    font-family: Akkurat Std;
    font-size: 136px;
    font-weight: 700;
    /* line-height: 165px; */
    /* letter-spacing: 0em; */
    text-align: left;

    margin: 0vw;
    padding: 1vw 0vw;
}
h2 {
    font-family: Akkurat Std;
    font-size: 84px;
    font-weight: 400;
    /* line-height: 102px; */
    /* letter-spacing: 0em; */
    text-align: left;

    margin: 0.5vw 0vw 0.5vw 0vw;
    padding: 0vw;
}
h3 {
    font-family: Akkurat Std;
    font-size: 52px;
    font-weight: 400;

    margin: 0vw;
    padding: 0vw;
}
h4{
    font-family: Akkurat Std;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h5{
    font-family: Akkurat Std;
    font-size: 20px;
    font-weight: 400;
}
h6 {
    font-family: Akkurat Std;
    font-size: 16px;
    font-weight: 400;
}
p {
    font-family: Akkurat Std;
    font-size: 12px;
    font-weight: 400;
}

ul{
    margin: 0;
}
li{
    font-weight: 500;
    font-size: 1.5em;

    margin: 0vw;
    padding: 0vw;
}
img{
    width: 100%;
}

.flex{
    display: flex;
}
.flexbox{
    flex-grow: 1;
}
.flexeven{
    flex: 1 1 0;
}


.basic-grid{
    margin: -1vw;
    padding: 0S;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.basic-container{
    margin: 1vw;
    padding: 0;
}
.basic-container p{
    margin: 0;
}
/* CUSTOM ELEMENTS */

a:link {
    color: white;
    font-weight: 500;
    text-decoration: none;
}
a:visited {
    color: white;
    font-weight: 500;
    text-decoration: none;
}
a:hover {
    color: rgb(60, 60, 60);
    font-weight: 500;
    text-decoration: none;
}
a:active {
    color: #d90504;
    font-weight: 500;
    text-decoration: none;
}

a.biglink:link {
    color: white;
    font-weight: 600;
    text-decoration: none;
}
a.biglink:visited {
    color: white;
    font-weight: 600;
    text-decoration: none;
}
a.biglink:hover {
    color: #3c3c3c;
    font-weight: 600;
    text-decoration: none;
}
a.biglink:active {
    color: #d90504;
    font-weight: 600;
    text-decoration: none;
}

button{
    font-weight: 600;
    font-size: 2em;

    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 0;
}
button:visited{
    font-weight: 600;
    color: white;
    border: 2px solid white;
}
button:hover {
    font-weight: 600;
    color: #d90504;
    border: 2px solid white;
}
button:active {
    font-weight: 600;
    color: #d90504;
    border: 2px solid #d90504;
}


#cellback svg:hover path {
    fill: #3c3c3c;
}
#cellback svg:hover polygon {
    stroke: #3c3c3c;
}
#cellback svg:hover line {
    stroke: #3c3c3c;
}
#cellback svg:active path {
    fill: #d90504;
}
#cellback svg:active polygon {
    stroke: #d90504;
}
#cellback svg:active line {
    stroke: #d90504;
}

span{
    font-size: 0.5em;
    display: block;
}

@media screen and (max-width: 2400px) {

}
@media screen and (max-width: 2160px) {

}
@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1680px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 960px) {

}
@media screen and (max-width: 720px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 480px) {

}