.preview{
  display: block;
  width: auto;
  height: 100vh;
}

body{
    background-image: url("../assets/CSSVG.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* img{
  padding: 4.6vw 0 5vw 0;
  display: block;
  margin: 0 auto 0 auto;
  width: 85%;
}

h1{
  margin-top: 5vw;
  line-height: 4.3vw;
  margin-right: 45%;
  margin-left: 5vw;
  font-size: 5vw;
}
h4{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 1.5vw;
}

p{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 1.5vw;
  font-size: 1.65vw;
} */
