.preview{
  display: block;
  width: auto;
  height: 82vh;
}

body{
    background-image: url("../assets/CSSVG.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}