

:root{
    --boardWidth: 600;
    --boardHeight: 600;
}
.minesweeper-board{
    border: 1px solid white;
    position: relative;

    width: fit-content;
    height: fit-content;
}

.row{
    display: flex;
}
.cell{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    
    background-color: #3c3c3c;
    border: 1px solid white;
}
.searched{
    background-color: #0C0C0C;
}
.explode{
    background-color: #d90504;
}
.flag{
    /* background-color:; */
    color: #d90504;
}

.end-screen {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    display: none;
    justify-content: center;
    align-items: center;
}