/* h4 {
    margin-top: 1rem;
} */
     
div.cell {
    /* border: 1px solid #2e2e2e; */
    min-width: 0.25rem;
    min-height: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    max-width: 1rem;
    max-height: 1rem;
}
div.enemy {
    background-color: purple;
}
div.enemyLaser {
    background-color: greenyellow;
}
div.player{
    background-color: white;
}
div.playerEngine{
    background-color: orange;
}
div.playerLaser {
    background-color: red;
}
div.row {
    display: flex;
}

/* #gameBoard {
    position:relative;
    border: 1px solid white;
    margin-left: auto;
}

#restartButton {
    margin-top: 2.5rem;
    padding: 1rem 4rem;
} */