div.cell {
    border: 1px solid #2e2e2e;
    width: 1rem;
    height: 1rem;    
}
div.enemy {
    background-color: purple;
}
div.enemyLaser {
    background-color: greenyellow;
}
div.player{
    background-color: white;
}
div.playerEngine{
    background-color: orange;
}
div.playerLaser {
    background-color: red;
}
div.row {
    display: flex;
}