div.cell {
    border: 1px solid #7f7f7f;
    width: 1rem;
    height: 1rem;    
}
div.enemy {
    background-color: purple;
}
div.enemy-laser {
    background-color: greenyellow;
}
div.player{
    background-color: white;
}
div.player-engine{
    background-color: orange;
}
div.player-laser {
    background-color: red;
}
div.row {
    display: flex;
}