
.maincontent {
    display: flex;
    position: relative;
    height: calc(100vh - 4rem);
}
/* Add 2rem spacer only to right side of left div */
.maincontent div:nth-child(1){
    margin-right: 2rem;
}
.maincontent div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
.maincontent div {
    flex: 1 1 0;
}
.maincontent div img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    /* object-fit: cover; */
    margin: auto;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
}