span{
    font-weight: bold;
}

a{
    text-decoration: underline;
}

/* .textBlockWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
} */

.textBlockText {
    max-width: 61.8%;
    margin-bottom: 1rem;
}

iframe {
    width: 61.8%;
    height: 40rem;
}