body{
  background-color: white;
  color: black;
}

h1{
  font-size: 3.9vw;
}

img{
  margin: 3vw 0;
}

/* -=-=-=-=-=- LINK STYLE -=-=-=-=-=- */
a:link {
  color: Black;
  text-decoration: none;
}
a:visited {
  color: Black;
  text-decoration: none;
}
a:hover {
  color: #d90504;
  text-decoration: underline;
}
a:active {
  color: #d90504;
  text-decoration: underline;
}
/* -=-=-=-=-=- LINK STYLE -=-=-=-=-=- */
