body{
    color: black;
    background-color: white;
}
/* #glee-graphic {
    width: 35em;
    height: 16em;
    text-align: right;
    object-fit: cover;
} */

/* #imagebox {
    margin-top: -4.5em;
} */


/* IMAGE DISPLAY FORMATTING */
#images {
    text-align: center;
}
#basic {
    width: 70em;
    height: 25em;
    object-fit: cover;
    padding: 5em 0em;
}
#graphic {
    width: 70em;
    height: 35em;
    object-fit: cover;
    padding: 5em 0em;
}
#patch {
    width: 50em;
    height: 50em;
    object-fit: cover;
    padding: 5em 0em;
}
#circle {
    width: 50em;
    height: 50em;
    object-fit: cover;
    padding: 5em 0em;
}