body{
    color: black;
    background-color: white;
}
img{
    width: 33%;
}
#glee-basic {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

#slideSource {
    opacity: 1;
    transition: opacity 1s; 
}  
#slideSource.fade {
    opacity: 0;
}
.overlay{
    opacity:0.8;
    background-color: white;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

    text-align: center;
    color: black;
}